*{
    margin: 0;
    padding: 0;
}
.maincontainer{
    display: flex;
    flex-direction:row;
    width: 600px;
    height: 600px;
    margin: auto;
    border:1px solid black;
    padding: 30px;
    background-color:whitesmoke;
}
.leftcontainer{
    width:200px;
    height:600px;
    /* border:1px solid black; */

}
.box1{
       
}
.box1 img{
    width:200px;
    height:287px;
    margin:5px;
    border-radius: 15px;
}
.centercontainer{
    width: 200px;
    height:594px;
    
}
.centercontainer img{
    width:200px;
    height:589px;
    margin: 5px 0px;
    margin-left: 10px;
    border-radius: 15px;
}
.rightcontainer{
    
}
.rightbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:180px;
    height:200px;
    margin-left:15px;
    margin-top: 5px;
    /* border: 1px solid black; */
}
.rightbox1 img{
  width:87px;  
  height:195px;
  border-radius: 15px;
}
.rightbox2{
    width:200px;
    height:190px;
    padding-top: 5px;
    /* border: 1px solid black; */

}
.rightbox2 img{
    width:178px;
    height:180px;
    margin-left: 15px;
    border-radius: 15px;
}
.rightbox3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:180px;
    height:190px;
    margin-left:15px;
    /* border: 1px solid black; */
}
.rightbox3 img{
    width:87px;  
    height:194px;
    border-radius: 15px;
  }
